@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Lekton');
@import url("https://fonts.googleapis.com/css?family=Dekko");
* {
    box-sizing: border-box;
}

body {
    padding-left: 12.212%;
    padding-right: 12.212%;
}

header, main, footer {
    background: white;
}



header {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
}

header nav div:first-child {
    float: left;
}

#masthead img {
    float: left;
    padding-right: 5px;
}

#masthead div {
    margin-bottom: 5em;
}
#masthead h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 2.5em;
}

#masthead h2 {
    font-family: 'Lekton', sans-serif;
    font-size: .5em;
    padding-right: 1em;
}

header nav div:last-child {
    float: right;
    margin-top: 1.5%;
}

header nav ul:first-of-type {
    float: left;
}

header nav ul:last-of-type {
    float: right;
    padding-left: 1em;
}

header nav ul li {
    display: inline-block;
    margin: -0.1em;
}


/**
        MAIN CONTENT
**/

main {
    padding-top: 5%;
}

main section:first-of-type {
    border-top: 15px solid;
    border-image: repeating-linear-gradient(35deg, white, white 1.5px, black 1.5px, black 2px)8;
    padding-top: 7%;
}

main section h3 {
    display: inline-block;
}
main section div:nth-child(2) h4 {
    float: left;
    font-family: 'Lekton', sans-serif;
    font-size: .5em;
}

#print {
    float: right;
    padding:0;
    margine: 0;
}

#print img {
    float: left;
}

#print p {
    font-family: 'Lekton', sans-serif;
    font-size: .5em;
    float: right;
}

main figure {
    padding-top: 5%;
    padding-bottom: 4%;
}

main figure img {
    width: 100%;
}

#body-text p {
    line-height: 1.5em;
    padding-bottom: 3%;
}

#body-text span {
    padding-left: 3%;
}


.bg-img{
    background-image: url("../img/list-bg.png" );
    background-repeat: no-repeat;
    padding: 15px 20px 40px;
    margin: 10px;
    overflow: auto;
    background-size:cover;
    clear: both;

}

.listContainer{
    padding: 20px;
    display: flex;
}

li{
    list-style-type: none;
    margin-bottom: 8px;
    margin-left: 40px;
    font-size: 1.5em;  
}

.right-list{
    padding: 0;
    margin-left: 10px;
    padding-bottom: px;
}
    
.left-list{
    padding: 0;
    margin-left: 10px;
}
label{
    font-family: 'Dekko', cursive;
}

.about-author{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 30px;
    border-top: 15px solid;
    border-image: repeating-linear-gradient(35deg, white, white 1.5px, black 1.5px, black 2px)8;
    
    padding-top: 20px;

}
.about-author img{
    float: left;
}

.about-text{
    float: left;
    margin-top: 0px;
    padding-left: 20px;
    display: block;
}
h5{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.about-text p{
    margin-top: 0px;

}

.btn{
    margin-right: 30px;
    margin-top: 10px;
}
.btn button{
    padding: 15px 20px 15px;
    border: none;
    margin-right: 90px;
    background-color:#e66958;
    font-size: 16px;
    color: #f1f1f1;
    
}
.about-author button{
    float: right;
    position: relative;
}
footer{
    clear: both;
}

.left-line{
    width: 45%;
    height: 1px;
    background-color: black;
    opacity: .2;
    margin: 5px;
}
.right-line{
    width: 45%;
    height: 1px;
    background-color: black;
    opacity: .2;
    margin: 5px;
}

.logo-line{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}
.footer-text {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}


li input[type=checkbox]:checked + label{
    text-decoration: line-through;
  }