* {
    box-sizing: border-box;
}

body {
    padding-left: 12.212%;
    padding-right: 12.212%;
}

header, main, footer {
    background: white;
}


/**
        HEADER
**/
header {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
}

header nav div:first-child {
    float: left;
}

#masthead img {
    float: left;
}

header nav div:last-child {
    float: right;
    margin-top: 1.5%;
}

header nav ul:first-of-type {
    float: left;
}

header nav ul:last-of-type {
    float: right;
    padding-left: 1em;
}

header nav ul li{
    display: inline-block;
    margin: -0.1em;
}


/**
        MAIN CONTENT
**/

main {
    padding-top: 5%;
}

main section:first-of-type {
    border-top: 15px solid;
    border-image: repeating-linear-gradient(35deg, white, white 1.5px, black 1.5px, black 2px)8;
    padding-top: 7%;
}

main section h3 {
    display: inline-block;
}
main section div:nth-child(2) h4 {
    float: left;
}

#print {
    float: right;
}

#print img {
    float: left;
}

#print p {
    float: right;
}

main figure {
    padding-top: 5%;
    padding-bottom: 4%;
}

main figure img {
    width: 100%;
}

#body-text p {
    line-height: 1.5em;
    padding-bottom: 3%;
}

#body-text span {
    padding-left: 3%;
}